@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: #fdfdfd;
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: #f5f5f5;
  --color-base-content: #2c3e50;
  --color-primary: #2ecc71;
  --color-primary-content: #7f8c8d;
  --color-secondary: #3498db;
  --color-accent: #f1c40f;
  --color-neutral: #99a1af;
  --color-neutral-content: #ffffff30;
}
@plugin "daisyui/theme" {
  name: "dark";
  /* default:true */

  --color-base-100: #111727;
  --color-base-200: #1e222a;
  --color-base-300: #0b0c15;
  --color-base-content: #ecf0f1;
  --color-primary: #2ecc71;
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: #3498db;
  --color-accent: #f4d03f;
  --color-neutral: #95a5a6;
  --color-neutral-content: #10182830;
}

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-primary: "Roboto", sans-serif;
  --font-heading: "Nunito", sans-serif;
}

a.active {
  color: #2ecc71;
}
